.Gps {
  width: 100%;
  height: auto;
  background-color: #fff;
  color: #000;
  padding: clamp(15px, 2vw, 30px);
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
    h1 {
      font-size: clamp(30px, 5vw, 64px);
      font-weight: 550;
    }
    p {
      max-width: 600px;
      width: 100%;
      font-size: clamp(16px, 3vw, 24px);
      text-align: center;
      strong {
        filter: drop-shadow(1px 1px 20px yellow);
        color: gold;
        font-size: 36px;
      }
    }
  }
}
